html
  head
    title= title
  body
    h1= title
    p= 'http://tkannat7.cs.tut.fi:8888/laskutus Lista kaikista laskuista'
    p= '^-- Toimii täydellisesti'
    p= '------------------------------------------------------------------------------------------------------'
    p= 'http://tkannat7.cs.tut.fi:8888/laskutus/?lasku=<laskun tunniste> Filtteriä vastaavan laskun tiedot'
    p= '^-- Toimii täydellisesti, tunniste on tietokannan id'
    p= '------------------------------------------------------------------------------------------------------'
    p= 'http://tkannat7.cs.tut.fi:8888/lisaa Listaus mainoskampanjoista, joilla ei ole viela laskuja.'
    p= '^-- Toimii täydellisesti'
    p= '------------------------------------------------------------------------------------------------------'
    p= 'http://tkannat7.cs.tut.fi:8888/lisaa?kampanja=<kampanjan tunniste>&erapvm=<pvm formaatissa yyyy-mm-dd>&viitenro=<jonkinlainen viitenro> Listaus mainoskampanjoista, jotka vastaavat annettuja filttereita'
    p= '^-- Toimii täydellisesti'
    p= '------------------------------------------------------------------------------------------------------'
    p= 'http://tkannat7.cs.tut.fi:8888/muokkaa?lasku=<laskun tunniste>&<muokattava ominaisuus>=<uusi arvo>& nayttaa muokatun laskun muokattuine tietoineen'
    p= '^-- Toimii täydellisesti'
    p= '------------------------------------------------------------------------------------------------------'
    p= 'http://tkannat7.cs.tut.fi:8888/laheta?lasku=<laskun tunniste> tuloste tietysta laskusta'
    p= '^-- Toimii täydellisesti'
    p= '------------------------------------------------------------------------------------------------------'
    p= 'http://tkannat7.cs.tut.fi:8888/poista?lasku=<laskun tunniste> lasku poistetaan, jos siihen ei liity karhulaskua'
    p= '^-- Toimii täydellisesti'
    p= '------------------------------------------------------------------------------------------------------'
    p= 'http://tkannat7.cs.tut.fi:8888/karhulasku?lasku=<laskun tunniste>&erapvm=<pvm formaatissa yyyy-mm-dd>&viitenro=<jonkinlainen viitenro>&viivastys=<viivastysmaksun suuruus> lisatyn karhulaskun tiedot'
    p= '^-- Toimii täydellisesti'
    p= '------------------------------------------------------------------------------------------------------'
    p= 'http://tkannat7.cs.tut.fi:8888/mainostajat listaus mainostajista tietoineen'
    p= '^-- Toimii täydellisesti'
    p= '------------------------------------------------------------------------------------------------------'
    p= 'http://tkannat7.cs.tut.fi:8888/kkraportti?mainostaja=<mainostajan tunniste>&kk=<kuukausi>&vuosi=<vuosi> kuukausiraportti'
    p= '^-- Toimii täydellisesti'
    p= '------------------------------------------------------------------------------------------------------'
    p= 'http://tkannat7.cs.tut.fi:8888/mainokset listaus mainoksista tietoineen'
    p= '^-- Toimii täydellisesti'
    p= '------------------------------------------------------------------------------------------------------'
    p= 'http://tkannat7.cs.tut.fi:8888/mainosesitysraportti/&mainos=<mainoksen tunniste>&esityspaiva=<0 tai 1>&esitysaika=<0 tai 1>&sukupuoli=<0 tai 1>&ika=<0 tai 1>&maa=<0 tai 1>&paikkakunta=<0 tai 1> mainosesitysraportti'
    p= '^-- Toimii täydellisesti'